.form-select-container {
  min-height: 70px;
}

.form-input-container {
  min-height: 70px;
}

p.error-text {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: left;
  margin-top: 3px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: #d32f2f;
}

/* File css changes */
.custom-uploader-container {
  width: 100%; /* Adjust the width as needed */
  height: 190px;
  position: relative;
}

.custom-uploader {
  position: relative;
  width: 100%;
  height: 150px; /* Adjust the height as needed */
  border: 2px dashed grey;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.uploaded-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.upload-text {
  position: absolute;
  color: grey;
  font-size: 16px;
}
.custom-uploader.error-picker {
  border-color: #d32f2f;
}

.custom-uploader.error-picker .upload-text {
  color: #d32f2f;
}

/* CustomImageUploader.css */

.custom-uploader-container.shimmer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #eee 25%, #f5f5f5 50%, #eee 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.uploaded-image {
  width: 100%;
  height: auto;
  display: block;
}

.shimmer-effect {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #eee 25%, #f5f5f5 50%, #eee 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  to {
    background-position: -200% 0;
  }
}
