:root {
  font-size: 16px; /* Set 1rem = 16px as a root font size */
}

.navbar-link-text {
  font-size: 0.0583rem; /* Equivalent to 0.9333px (0.9333px / 16px = 0.0583rem) */
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #031d44;
  padding: 1.25rem 0; /* Equivalent to 20px 0 (20px / 16px = 1.25rem) */
  margin: 0 1.25rem; /* Equivalent to 0px 20px (20px / 16px = 1.25rem) */
  display: inline-block;
  position: relative;
  opacity: 0.75;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  cursor: pointer;
}

.navbar-link-text:hover {
  opacity: 1;
  color: goldenrod;
}

.navbar-link-text::before {
  transition: 0.3s;
  height: 0.125rem; /* Equivalent to 2px (2px / 16px = 0.125rem) */
  content: "";
  position: absolute;
  background-color: #031d44;
}

.nav-link-ltr::before {
  width: 0%;
  top: 0.625rem; /* Equivalent to 10px (10px / 16px = 0.625rem) */
  left: 0;
}

.nav-link-ltr:hover::before {
  width: 100%;
  background-color: goldenrod;
}

.nav-link-active {
  color: goldenrod;
}

.navbar-link-container {
  position: relative;
  display: inline-block;
}

.dropdown-container {
  position: absolute;
  top: 100%; /* Position the dropdown below the link */
  left: 0;
  z-index: 1; /* Ensure the dropdown is above other content */
}

.dropdown {
  background-color: #ffffff; /* Background color for the dropdown */
  border: 0.0625rem solid #ccc; /* Equivalent to 1px (1px / 16px = 0.0625rem) */
  border-radius: 0.3125rem; /* Equivalent to 5px (5px / 16px = 0.3125rem) */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* Equivalent to 2px 4px rgba(0, 0, 0, 0.1) */
  padding: 0.625rem; /* Equivalent to 10px (10px / 16px = 0.625rem) */
  cursor: pointer;

  /* Add any other styling you want for the dropdown here */
}

/* Styling for Subcategory Items */
.dropdown-item {
  color: #333;
  font-size: 0.125rem; /* Equivalent to 2px (2px / 16px = 0.125rem) */
  padding: 0.5625rem 0.5625rem; /* Equivalent to 9px 9px (9px / 16px = 0.5625rem) */
  border-radius: 0.3125rem; /* Equivalent to 5px (5px / 16px = 0.3125rem) */
  transition: background-color 0.3s ease-in-out;
  /* Add any other styling you want for subcategory items here */
}

.dropdown-item:hover {
  background-color: #dede66;
}
