.navbar-link-text {
  font-size: 0.9333rem;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #031d44;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  cursor: pointer;
}

.navbar-link-text:hover {
  opacity: 1;
  color: goldenrod;
}

.navbar-link-text::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #031d44;
}

.nav-link-ltr::before {
  width: 0%;
  top: 10px;
  left: 0;
}

.nav-link-ltr:hover::before {
  width: 100%;
  background-color: goldenrod;
}

.nav-link-active {
  color: goldenrod;
}


.navbar-link-container {
  position: relative;
  display: inline-block;
}

.dropdown-container {
  position: absolute;
  top: 100%; /* Position the dropdown below the link */
  left: 0;
  z-index: 1; /* Ensure the dropdown is above other content */
}

.dropdown {
  background-color: #ffffff; /* Background color for the dropdown */
  border: 1px solid #ccc; /* Border for the dropdown */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift effect */
  padding: 10px; /* Padding inside the dropdown */
  cursor: pointer;

  /* Add any other styling you want for the dropdown here */
}

/* Styling for Subcategory Items */
.dropdown-item {
  color: #333; /* Text color for subcategory items */
  font-size: 2px; /* Font size for subcategory items */
  padding: 9px 9px;
  border-radius: 5px; /* Vertical padding for subcategory items */
  transition: background-color 0.3s ease-in-out; /* Add a smooth background color transition on hover */
  /* Add any other styling you want for subcategory items here */
}

.dropdown-item:hover {
  background-color: #dede66;
}
