/* All header css styles here */
.header {
  height: 75px;
  margin: 0;
  background-color: #f8f9fa;
}

.logo {
  width: 180px;
}

.nav-bar {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}

.bg-navbar {
  padding-left: 12px;
}

.dashboard-box {
  padding: 10px;
  width: 250px;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-info-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#basic-nav-dropdown::after {
  display: none;
}

.profile-info-body a {
  text-decoration: none;
  color: #22343d;
}

.hico {
  color: #ff00b3;
}

.navbar-link-text {
  font-size: 0.9333rem;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #031d44;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}

.navbar-link-text:hover {
  opacity: 1;
  color: goldenrod;
}

.navbar-link-text::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #031d44;
}

.nav-link-ltr::before {
  width: 0%;
  top: 10px;
  left: 0;
}

.nav-link-ltr:hover::before {
  width: 100%;
  background-color: goldenrod;
}

.nav-link-active {
  color: goldenrod;
}
