:root {
  font-size: 16px; /* Set 1rem = 16px as a root font size */
}
.image-link{
  color: blue;
}
  .products-page-title{
    font-size: 3rem;
    font-family: "Lucida Sans Unicode", "Lucida Grande";
    /* font-weight: 700; */
    font-style: italic;
    /* margin: 2rem; */
    /* padding: 1rem; */
    background-image:linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .divider {
    border: none;
    width: 100%;
    height: 1rem; /* Adjust the thickness of the line */
    background: repeating-linear-gradient(
      -45deg, /* Adjust the angle to control the spiral direction */
      transparent,
      transparent 0px, /* Adjust the spiral gap width */
      gold 5px, /* Gold color */
      gold 9px /* Adjust the width of the gold spiral segment */
    );
    margin: 1rem 0; /* Adjust the margin as needed */
  }

.products-title {
  font-size: 1rem; /* Equivalent to 16px */
  font-family: "Lucida Sans Unicode", "Lucida Grande";
  font-weight: 700;
  font-style: italic;
}
.product-title {
  
  padding: 0;
  margin: 0;
  font-size: 1.5rem; /* Equivalent to 14px (14px / 16px = 0.875rem) */
  font-weight: 600;
  letter-spacing: 0.15rem;
}
.product-vendor {
  
  padding: 0;
  margin: 0;
  font-size: 1rem; /* Equivalent to 11px (11px / 16px = 0.6875rem) */
  font-weight: 600;
  text-transform: uppercase;
  color: grey;
}
.product-price {
  
  padding: 0;
  margin: 0;
  font-size: 0.9375rem; /* Equivalent to 15px (15px / 16px = 0.9375rem) */
  color: rgb(0, 167, 83);
  font-weight: 500;
  /* padding: 0.00625rem; */ /* Equivalent to 0.1px (0.1px / 16px = 0.00625rem) */
  margin: 0.00625rem; /* Equivalent to 0.1px (0.1px / 16px = 0.00625rem) */
}

.order-link {
  padding: 0;
  margin: 0;
  font-size: 1.0rem; /* Equivalent to 16px */
  color: rgb(232, 156, 156);
}

/* Default styling for larger screens */
.product-card {
  position: relative;
  width: 100%;
}

.product-image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.product-image {
  width: 100%;
  height: auto;
  transition: transform 0.8s;
}

.product-details-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  border-style: solid;
  border-width: 0.2125rem; /* Equivalent to 9px (9px / 16px = 0.5625rem) */
  border-color: rgb(221, 194, 194);
}

.product-card:hover .product-image {
  transform: scale(1.1); /* Zoom in effect on hover */
}

.product-card:hover .product-details-overlay {
  opacity: 1; /* Show overlay on hover */
}



